@import url('https://fonts.cdnfonts.com/css/museo-sans-cyrl');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 30px auto;
    /* padding: 0 30px; */
    max-width: 1140px;
    font-family: 'Museo Sans Cyrl', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu{
    width: 25%;
    color: #333333;
    font-size: 16px;
    line-height: 2;
}
.menu h2{
    border-bottom: 1px solid #7a7a7a;
}
.menu .list_product span{
    color: #333333;
    font-weight: bold;
}
.menu .list_product ul{
    list-style-type: none;
}
.menu .list_product ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.menu .list_product ul li span{
    color: #333333;
    font-weight: bold;
}
.menu .list_product ul div{
    display: none;
    padding: 10px 30px;
    border-bottom: solid 0px #ebebeb;
    /* height: 0; */
}
.menu .list_product ul div a{
    text-decoration: none;
    color: #636363;
}

.menu .list_product ul li span:hover{
    color: #636363;
}


.menu .list_product .type{
    border-top: 1px solid #7a7a7a;
    font-weight: bolder;
}
.menu .list_product form{
    height: 355px;
    overflow: auto;
}

.menu .list_product form::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
.menu .list_product form::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;

}

/* Handle */
.menu .list_product form::-webkit-scrollbar-thumb {
    background: #333333; 
    border-radius: 10px;
}

/* Handle on hover */
.menu .list_product form::-webkit-scrollbar-thumb:hover {
    background: #000000; 
}

.menu .list_product form input, label{
    cursor: pointer;
}

.list_info{
    width: 70%;
    margin-left: 5%;
}
/* .list_info img{
    max-width: 100%;
    height: 300px;
    width: 1200px;
} */
.list_info .title_page{
    background-color: #ebebeb;
    margin-top: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.list_info .title_page .filter{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.list_info .title_page a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}
.list_info .title_page a:hover{

    color: #636363;
}
.list_info .title_page h1{
    font-size: 16px;
    margin-right: 20px;
    width: 25%;
}
.list_info .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 4%; */
}
.list_info .product .detail{
    width : 30%;
    margin-top: 40px;
}
.list_info .product img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
}
.list_info .product .detail a .pic{
    position: relative;
}
.list_info .product .detail a .pic:hover span{
    
    display: block;
}
.list_info .product .detail a .pic span:hover{
    
    color: #f5f1f1;
    background-color: rgb(73, 72, 72);
    
}
.list_info .product .detail a .pic span{
    color: #d5d4d4;
    position: absolute;
    display: none;
    bottom: 10px;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: rgb(100, 99, 99);
    padding-top: 10px;
    
}

.list_info .product a p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.list_info .product a{
    font-size: 20px;
    text-decoration: none;
    color: #333333;
}

.list_info .product .detail:hover{

    border-radius: 16px;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border: 1px solid #BFC8E6;
}

.menu_active{
    display: block !important;
    /* transition: transform 5s ease-in;
    height: auto !important; */
}

.pagination{
    width: 30%;
    height: 7%;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.pagination .border_icon{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #dddddd;
    border-radius: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.pagination .border_icon:active{
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
}

.pagination .page_number{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.pagination .page_number .number_icon{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #dddddd;
    border-radius: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.pagination .page_number .number_icon:hover{
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
}

.page_number_active {

    cursor: not-allowed !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: #FFFFFF;
}